<footer class="container-fluid text-center footer">
    <div class="row">
        <div class="col-sm-2 col-xs-12 divide-right">
            <h6><b>About</b></h6>
            <ul>
                <li><a href="#" routerLink="/static/contactus">Contact Us</a></li>
                <li><a href="#" (click)="scrollToTop()" routerLink="/static/aboutus">About Us</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-12 divide-right">
            <h6>Help & Support</h6>
            <ul>
                <li><a href="#">Feedback</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-12 divide-right">
            <h6>Social</h6>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="col-sm-4 col-xs-12 ">
            <h6>Mail Us :</h6>
            <p>TrickyMeds@gmail.com, Bangalore, Pin-999999, India</p>
        </div>

    </div>
    <div class="row  copyright-footer">

        <div class="col-12">
            Copy Right : 2020 Table with Chairs Ltd.
        </div>
    </div>
    <div class="back-top-click">
        <a (click)="scrollToTop()" title="To Top">
            <i class="material-icons">keyboard_arrow_up</i>
            <p class="back-top">Back to the Top</p>
        </a>
    </div>
</footer>