  .container-fluid {
      color: black;
      padding: 25px 15px;
  }

  .footer {
      background-image: linear-gradient(#959ba0, white);
      font-size: larger;
  }

  ul {
      list-style: none;
      padding-left: 0;
  }

  li>a {
      color: #4e4e4e;
  }

  li>a:hover {
      color: black
  }

  .divide-bottom {
      border-bottom: 1px solid white;
      margin-bottom: 2%;
  }

  .back-top {
      margin-top: -15px;
  }

  .back-top-click {
      margin-top: 2%;
  }