<!--Section: Contact v.2-->

<section class="mb-4 abc" >

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-3 mb-md-0 mb-4">
            <!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.7690475531585!2d77.02931611491847!3d28.426224882499593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d180b42eaaaab%3A0xb746b1c28afae275!2sCandor%20TechSpace%2C%20Sector%2048%2C%20Gurugram!5e0!3m2!1sen!2sin!4v1665762858939!5m2!1sen!2sin"
     width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <!--Google Maps-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Sohna Road ,Tikri, Sector 48 , Tower Number5 ,Candor , Gurgaon</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>7997699999</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>trickymed@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fab fa-facebook-f"></i></li>
                <br>
                <li>
                    <i class="fab fa-twitter"></i>
                </li>
                <br>
                <li>
                    <i class="fab fa-google"></i>
                </li>
                <br>
                <li>
                    <i class="fab fa-instagram"></i>
                </li>
                <br>
                <li>
                    <i class="fab fa-youtube"></i>
                </li>
            </ul>
        </div>
    </div>

</section>
<!--Section: Contact v.2-->