<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="about-title clearfix">
								<h1>About <span>TRICKY MEDS</span></h1>

								<h3> India’s most trusted aryurvedic pharmacies .Over 7 million happy
                                    customers – PAN India.</h3>
                                    <h2>आयुर्वेद हमें हमारी सहज-प्रकृति को संजोना सिखाता है- “हम जो हैं उससे प्रेम करना, 
                                        उसका सम्मान करना”, वैसे नही जैसा लोग सोचते हैं या कहते हैं, “हमे क्या होना चाहिए।</h2>
                                    <h3>What we offer to our customers & many more!!!</h3>
								<p class="about-paddingB">Choose anything that fullfill your health. 
                                    We're one stop shop available 24*7. Delivery within 2 days.
                                    Order now!!! </p>
                                    <h3>What we provide?</h3>
								<p>The ancient Indian medical system, also known as Ayurveda,
                                     is based on ancient writings that rely on a “natural” 
                                     and holistic approach to physical and mental health.
                                      Ayurvedic medicine is one of the world’s oldest medical systems and remains one of
                                       India’s traditional health care systems. Ayurvedic treatment combines products 
                                       (mainly derived from plants,
                                     but may also include animal, metal, and mineral), diet, exercise, and lifestyle.</p>
						<div class="about-icons"> 
                            <ul >
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>       
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>